
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src='/javascripts/script.js'></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <p id='hello'>Hello</p>
    <div id='tweeter'></div>
    <div class="js-spiral">
      <div class="js-section">
        <div id='warning'> <span>WARNING:</span> Do not proceed if you suffer from vertigo or find experimental interfaces offensive.</div>
        <div id="name"> Antoine </br> Doolaeghe </div>
        <a href="mailto:antoinedoolaeghe@gmail.com?Subject=Hello" target="_top"><div id='white-box' class='contact'><div class='contact1'>Contact</div></div></a>
        <div id="mainTitle"> Fullstack Developer looking for position in LONDON</div>
      </div>
      <div class="js-section">
        <div id='makersAcademy'>Makers Academy graduate</div>
        <div id="name"> I Code </div>
        <div id="text">I studied Sculpture. </br> Ended up becoming passionate about code. </br> Trust me it's not too different... </br> Just keeping my hands a little cleaner !</div>
        <div id="technology"> <span id='tech'>Javascript</span><span id='tech'> React </span><span id='tech'> NodeJs </span> <span id='tech'> Ruby </span><span id='tech'> Rails </span></div>
        <a href='https://github.com/adoolaeghe' target="_blank"><div id='white-box' class='github'></div></a>
      </div>
      <div class="js-section">
        <div id='makersAcademy'>Makers Academy Final Project</div>
        <div id="name"> Love Block </div>
        <div id='text'> <b> You can now get married on the blockchain !</b> </br></br> What are the potential of blockchain encryption to create a new kind of secure and symbolic form of marriage contract. </div>
        <div id="technology"><span id='tech'>Ethereum blockchain</span><span id='tech'> Solidity </span><span id='tech'> Web3js </span><span id='tech'> NodeJs </span></div>
        <a href='https://github.com/adoolaeghe/Love-Block' target="_blank"><div id='white-box' class='github'></div></a>
      </div>
      <div class="js-section">
        <div id='makersAcademy'>WORK IN PROGRESS</div>
        <div id="name"> Echomancy </div>
        <div id='text'><b> A Gamified format for music discoveries.</b> </br></br> I am builing a media player with ReactJs that only reveal content by the fans who can buy shares of the songs they like. </div>
        <a href='https://github.com/adoolaeghe/Echomancy'><div id='white-box' class='github'></div></a>
        <div id="technology"> <span id='tech'> ReactJs </span><span id='tech'> NodeJs </span><span id='tech'> Firebase </span></div>
      </div>
      <div class="js-section">
        <div id="name"> The Ideal Press </div>
        <div id='text'> This is a small publishing house, design and research practice based in London with a focus on contemporary issues within philosophy, politics and the arts. </div>
        <div id='text'> Open call email here. </div>
        <a href='http://idealpress.org/' target="_blank"><div id='white-box' class='ideal-press'></div></a>
      </div>
      <div class="js-section">
        <div id="name"> I curate </div>
        <div id='text'> I have worked as an art curator for multiple exhibiton. </br> </br>   Co-curated: <a href="https://www.zabludowiczcollection.com/exhibitions/view/use-user-used">Use, User, Used</a> </br> </br>  Centre international d'art et du paysage - île de Vassivière: <a href="http://artviewer.org/etre-chose-at-treignac-projet/">Etre Chose / Being Thing</a>  </div>
        <div id='makersAcademy'> Zabdulowicz Art Collection </div>
      </div>
      <div class="js-section">
        <div id="name"> I write </div>
        <div id='text'> I was honored for my dissertation on the movement of <b>post-internet art</b>. </br> </br> I have also started a blog, it only have one post for now... </br> More is coming up ! </div>
        <a href='https://medium.com/@antoinedoolaeghe' target="_blank"><div id='white-box1' class='medium'></div></a>
        <a href='/images/The_artwork_and_its_documentation_in_the_age_of_post_internet_madia.pdf' target="_blank"><div id='white-box'class='pdf'></div></a>
      </div>
      <div class="js-section">
        <div id="more"> I’ve reached the summit Mont-Blanc last summer, </br> the rooftop of Europe ! (4,808 m)  </div>
        <div id='text-more'> I grew up in the French Alps where I’ve always been trekking up in high
mountains. </div>
        <div id="mont-blanc"> </div>
        <div id='me'></div>
      </div>
    </div>
  </body>
</html>
