
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src='/javascripts/script.js'></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <p id='hello'>Hello</p>
    <div id='tweeter'></div>
    <div class="js-spiral">
      <div class="js-section">
        <div id='warning'> <span>WARNING:</span> Do not proceed if you suffer from vertigo or find experimental interfaces offensive.</div>
        <div id="name"> Antoine </br> Doolaeghe </div>
        <div id='white-box' class='contact'>Contact</div>
      </div>
      <div class="js-section">
        <div id='makersAcademy'>Makers Academy graduate</div>
        <div id="name"> I Code </div>
        <div id="text">I studied Sculpture. </br> Ended up becoming passionate about code. </br> Trust me it's not too different... </br> Just keeping my hands a little cleaner !</div>
        <div id="technology"> Javascript, React, NodeJs</div>
        <div id='white-box' class='github'></div>
      </div>
      <div class="js-section">
        <div id='makersAcademy'>Makers Academy Final Project</div>
        <div id="name"> Love Block </div>
        <div id='text'> You can now get married on the blockchain. </br> This was made a final project at makers academy in group of 4. We were interested in using the unchangeable encryption of the blockchain to create a new kind of symbolic for the marriage contract. </div>
        <div id="technology"> Ethereum blockchain, Solidity, Web3js</div>
        <a id='white-box' class='github'></a>
      </div>
      <div class="js-section">
        <div id='makersAcademy'>WORK IN PROGRESS</div>
        <div id="name"> Echomancy </div>
        <div id='text'> A Gamiefied format for music discoveries. </div>
        <div id='white-box' class='github'></div>
        <div id="technology">ReactJs, Redux, Firebase</div>
      </div>
      <div class="js-section">
        <div id="name"> I write </div>
        <div id='text'> I was honored for my dissertation on the movement of post-internet art. </div>
        <div id='white-box' class='medium'></div>
      </div>
      <div class="js-section">
        <div id="name"> The ideal Press </div>
        <div id='text'> Thie is a small publishing, design and research practice based in London with a focus on contemporary issues within philosophy, politics and the arts. </div>
        <div id='white-box' class='ideal-press'></div>
      </div>
      <div class="js-section">
        <div id="name"> I'm writing a book. </div>
        <div id='text'> Hopefully I could tell you more about it soon.  </div>
        <div id='white-box'></div>
      </div>
      <div class="js-section">
        <div id="name"> More </div>
      </div>
    </div>

      <div class="main slide-right">
        <marquee behavior="alternate"><span id='redBlock'>.</span>  <span id='redBlock'>..</span>  FULLSTACK DEVELOPPER looking for position in LONDON   <span id='redBlock'>..</span>  <span id='redBlock'>.</span><i class="em-a"></i></marquee>
      </div>
  </body>
</html>
