
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Merriweather:700');
body {
  display: flex;
  justify-content: left;
  padding: 0;
  margin: 0;
  background-color: black;
  color: black;
}
a {
  color: #fff;
}
div.main {
  width:100%;
  overflow:hidden;
  background-color: black;
  height: auto;
  position: fixed;
  top:0px;
  padding: 1px;
  font-size: 15px;
  color: white;
  font-family: 'Fira Sans', sans-serif;
}

span {
  color: red;
  font-family: 'Fira Sans', sans-serif;
}

.medium, .github {
  background-image: url('../images/medium.png');
  background-size: contain;
}

.github {
  background-image: url('../images/github.png');
}

.ideal-press{
  background-image: url('../images/ideal-press.png');
  background-size: contain;
}

.contact {
 background: url(../images/contact.svg) center no-repeat;
 background-size: 50px;
 color: white;
 text-align: center;
 font-family: 'Fira Sans', sans-serif;
}

.makers {
  background: url(../images/makers.png) center no-repeat;
  background-size: 100px;
}

#tweeter {
  position: absolute;
  width: 50px;
  height: 50px;
  top:86%;
  left: 25%;
  background-color: black;
  background-image: url('../images/tweeter.png');
  background-size: contain;
}

#warning {
  font-family: 'Fira Sans', sans-serif;
  text-align: left;
  font-size: 13px;
  position: absolute;
  width: 300px;
  height: 20px;
  left: 55%;
  top: 10%;
}

#makersAcademy {
  font-family: 'Fira Sans', sans-serif;
  font-size: 13px;
  background-color: red;
  color: white;
  position: absolute;
  padding: 3px;
  top: 25%;
  left: 10%;
}

#name {
  text-align: left;
  position: absolute;
  left:10%;
  top: 30%;
  font-size: 300%;
  font-family: 'Merriweather', sans-serif;
}

#header {
  text-align: left;
  font-size: 30px;
  font-family: 'Droid Sans', serif;
}

#white-box {
  height: 100px;
  width: 100px;
  position: absolute;
  background-color: black;
  border-radius: 5px;
  left: 70%;
  top: 50%;
  -webkit-box-shadow: -1px -1px 47px -8px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -1px 47px -8px rgba(0,0,0,0.75);
box-shadow: -1px -1px 47px -8px rgba(0,0,0,0.75);
}


#black-line {
  height: 66.5%;
  width: 1px;
  position: absolute;
  background-color: red;
  border-radius: 5px;
  left: 83.5%;
  top: 55%;
}

#white-box:hover {
  height: 98px;
  width: 98px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#text {
  font-size: 18px;
  position: absolute;
  text-align: left;
  width: 50%;
  left: 10%;
  top: 40%;
  font-family: 'Droid Sans', serif;
}

#technology {
  font-size: 18px;
  position: absolute;
  text-align: left;
  width: 60%;
  left: 10%;
  top: 60%;
  font-family: 'Droid Sans', sans-serif;
}



#redBlock {
  width: 5px;
  height: 3px;
  background-color: red;
}

#hello {
  color:white;
  font-family: 'Droid Sans', serif;
  font-size: 100px;
  position: absolute;
  margin: 0px;
  bottom: 10px;
  left: 40px
}



.js-spiral {
  position: fixed;
}
.js-section {
  position: absolute;
  left: -100%;
  background-color: white;
  box-sizing: border-box;
  transition: .2s border ease-out;
  border: 2px solid black;
}
.js-section:hover {
  border-radius: 5%;
  border: 7px solid red;
}
.message {
  position: absolute;
  width: 50%;
  left: 5vh;
  bottom: 10vh;
}
